.expert-profile-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  padding: 48px 16px;
  flex-direction: column;
  gap: 44px;
}

/* step 아이콘  */
.step-icon-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  white-space: nowrap;
  position: sticky;
  top: 50px;
  height: fit-content;
}
.step-icon span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #e1e4ed;
  color: #6d758f;
  font-size: 12px;
  font-weight: 700;
}
.step-icon {
  color: #303441;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}
.step-icon-active span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: rgba(255, 88, 51, 0.1);
  color: #ff5833;
  font-size: 12px;
  font-weight: 800;
}
.step-icon-active {
  color: #303441;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
}

/* 칩 컴포넌트 */
.expert-profile-chip {
  width: fit-content;
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #e1e4ed;
  background: #fff;
  color: #303441;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.expert-profile-chip i {
  color: #dee2e6;
  cursor: pointer;
}

/* 경력 카드 컴포넌트 */
.expert-profile-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.expert-profile-careerCard {
  display: flex;
  width: 424px;
  padding: 20px 16px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #e1e4ed;
}
.expert-profile-careerCard div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #6a7685;
}

/* Input 시간 */
.time Input {
  width: 200px;
}
.time span {
  margin: 0 7px;
}

/* Input 데이터 추가 섹션 */
.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.expert-profile-add-input {
  display: flex;
  align-items: center;
  gap: 10px;
}
.expert-profile-add-input input {
  width: 348px;
}
.expert-profile-add-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.expert-profile-chip-wrapper {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.expert-profile-add-wrapper div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.expert-profile-add-wrapper p {
  width: 348px;
  margin: 0;
}
