::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #e0e5eb;
}

.expert-estimate-form {
  border-right: 1px solid #eff1f5;
  border-left: 1px solid #eff1f5;
  background: #f1f3f7;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 553px;

  height: 100%;
  overflow-y: auto;
}

.expert-estimate-form .section-first {
  display: flex;
  padding: 48px 20px 30px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
  background: #fff;
}

.expert-estimate-form .section-second {
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
  background: #fff;
}
.expert-estimate-form .section-third {
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  gap: 30px;
  align-self: stretch;
  background: #fff;
  margin-bottom: 150px;
}

.expert-estimate-form .section-third .cost-title {
  color: #303441;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.set-wrapper p {
  color: #303441;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.set-wrapper .set-radio {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.set-wrapper .set-radio .one-radio {
  display: flex;
  align-items: center;
  gap: 8px;
}
.set-wrapper .set-radio .one-radio input {
  margin: 0;
  width: 16px;
  height: 16px;
}

.set-wrapper .set-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  align-self: stretch;
}
.set-wrapper .set-checkbox div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.set-wrapper .set-checkbox .one-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.set-wrapper .set-checkbox .one-checkbox input {
  margin: 0;
  width: 16px;
  height: 16px;
}

.set-wrapper .expert-chip-list {
  display: flex;
  padding: 8px 0;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.set-wrapper .expert-chip-list .chip {
  display: flex;
  height: 30px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #e0e5eb;
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.set-wrapper .expert-chip-list .chip-active {
  display: flex;
  height: 30px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #293341;
  background: #293341;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.cost-set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.cost-set-wrapper .add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.cost-set-wrapper .add p {
  color: #303441;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.cost-set-wrapper .cost-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.cost-set-wrapper .cost-wrapper p {
  display: flex;
  padding: 16px 100px 20px 100px;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-top: 1.5px solid rgba(0, 0, 0, 0.05);
  color: #303441;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.cost-set-wrapper .cost-wrapper span {
  color: #303441;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.cost-set-wrapper .cost-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.cost-list .cost-one-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.etc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.etc-wrapper .total {
  display: flex;
  padding: 16px 100px 20px 100px;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-top: 1.5px solid rgba(0, 0, 0, 0.05);
  color: #303441;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.etc-wrapper .total span {
  color: #303441;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.etc-set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.etc-one-line {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.etc-one-line p {
  min-width: 130px;
  color: #303441;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.public-request-button-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
