.main {
    gap: 15px;
}

/* main > div:last-child {
    margin-bottom: 0;
} */

.main_column1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.main_column2 {
    width: 100%;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.main_column3 {
    width: 100%;
    /* display: flex;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch; */
    margin: 0 57px;
    gap: 10px;
}

/* ************************
    column1 
************************* */
.stat_card {
    display: flex;
    width: 330px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    /* margin: 0 auto; */
}

.stat_card:not(:last-child) {
    margin-right: 20px;
}

.stat_change {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    cursor: pointer;
}

.card_body {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    margin: 0 5px;
}
.card_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card_count {
    color: #ff5733;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card_footer {
    padding: 10px 10px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
}

/* ************************
    column2
************************* */
.stat_card2 {
    display: flex;
    /* height: 100px; */
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background: #6d758f;
    gap: 50px;
    justify-content: space-evenly;
    align-self: stretch;
}

.stat_body {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--base);
}
.card2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.card2_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.divider {
    display: flex;
    color: var(--base);
}

/* ************************
    column3
************************* */
.more_stats {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
}

.graph_body {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}
.cumulative_statistics {
    width: 75%;
}
.cumulative_statistics > div {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    line-height: 20px;
}

.graph_title {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
}
.graph_change {
    display: flex;
    gap: 10px;
}
.form-check-label {
    gap: 8px;
    display: flex;
}

.etc_statistics {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
