.delivery_method {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.deli_frame,
.pickup_frame,
.opt_frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    gap: 12px;
    padding: 15px 10px;
    border: 1px solid var(--outerLine);
    border-radius: 5px;
    margin-bottom: 5px;
}

.option_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
}
.option_column:not(:first-child) {
    border-top: 1px solid var(--innerLine);
    padding-top: 10px;
}
.optionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.optionNameInput {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.optionBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    flex: 1;
}

.optionBodyColumn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.optionContent {
    display: flex;
    gap: 5px;
}
.add_btn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.small_category {
    border-top: 1px solid var(--innerLine);
    margin-top: 5px;
    padding-top: 8px;
}
