.Com-card {
    width: 575px;
    /* height: 155px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration-line: none;
    color: unset; /* 부모 색상을 강제로 초기화 */
    border: 1px solid #eff1f5;
    border-radius: 8px;
    display: flex;
    padding: 18px 15px;
    gap: 40px;
    cursor: pointer;
}

.Com-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-color: #eff1f5;
}

.Com-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Com-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-left: 8px;
}

.Com-category {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.Com-title {
    font-size: 15px;
    font-weight: 600;
}

.Com-content {
    font-size: 14px;
}

.Com-reaction {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 8px;
    color: #6D758F;
}

.Com-writer {
    font-size: 13px;
}

.chats,
.favs {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.dot {
    margin: 0 2px;
}
