

.product-image {
    background-color: #eff1f5;
}


/* ------------------------------------------------------------- */

.Product-cards {
    width: 177px;
    height: 250px;
    text-decoration-line: none;
    color: unset; /* 부모 색상을 강제로 초기화 */
     cursor: pointer;
}

.product-images {
    position: relative; /* 하트 위치를 부모 기준으로 잡기 위해 */
    width: 177px;
    height: 177px;
    border-radius: 8px;
    background-color: #eff1f5;
}

.product-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-icons {
    position: absolute; /* 절대 위치 */
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff5833;
    cursor: pointer;
}

.product-infos {
    width: 100%;
    margin-top: 5px;
}

.store-names {
    font-size: 12px;
    font-weight: 500;
}

.product-names {
    font-size: 14px;
    font-weight: 400;
}
.sales {
    font-size: 16px;
    color: #ff5833;
    margin-right: 8px;
    font-weight: 600;
}

.sale-prices {
    font-size: 20px;
    font-weight: 600;
}

.star-icons {
    margin-right: 5px;
    color: #f7c444;
}

.review-counts {
    font-size: 14px;
    font-weight: 400;
}

