.expertOrder-main-div {
    margin-top: 35px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.expertOrder-table-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.expertOrder-table {
    width: 100%;
    border-top: 2px solid #6d758f;
}

.expertOrder-table td {
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
}

.expertOrder-trtd {
    width: 150px;
}

.expertOrder-badge {
    border: 1px solid #e0e5eb;
    border-radius: 16px;
    width: 108px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.expertProfileImg-img {
    width: 72px;
    height: 72px;
    border-radius: 49px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.expertOrder-price-div {
    width: 90px;
    display: flex;
    gap: 3px;
    justify-content: flex-end;
}

.expertOrder-more-request-div {
    margin-top: 20px;
    border: 1px solid #f1f3f7;
    border-radius: 6px;
    height: 117px;
    padding: 12px;
}

.expertOrder-checkList-div {
    border-top: 2px solid #6d758f;
    margin-top: 20px;
}

.expertOrder-checkList {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.expertOrder-checkbox {
    accent-color: #ff5833;
    zoom: 1.3;
}

.expertOrder-checkList-all {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e6e6e6;
}

.expertOrder-span {
    color: #6a7685;
}

.expertOrder-complate-div {
    display: flex;
    justify-content: center;
}

.expertOrder-complate-button {
    border: none;
    border-radius: 6px;
    background-color: #ff5833;
    color: #ffffff;
    width: 200px;
    height: 40px;
}
