/* 레이아웃 */
.mypage-layout {
  font-family: "Pretendard Variable", sans-serif !important;
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 100%;
}

/* 탭 리스트 */
.mypage-tabList {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-bottom: 2px solid #eff1f5;
  box-sizing: border-box;
  height: 51px;

  color: #6a7685;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.mypage-tabList div {
  display: flex;
  padding: 20px 14px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 51px;
}
.mypage-tabList .isActive {
  color: #293341;
  font-weight: 700;
  border-bottom: 2px solid #293341;
  box-sizing: border-box;
  height: 51px;
}

/* 칩 리스트 */
.mypage-chipList {
  display: flex;
  padding: 20px 0 18px 0;
  align-items: flex-start;
  gap: 6px;
}
.mypage-chipList div {
  display: flex;
  height: 30px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #e0e5eb;
  background: #fff;
  cursor: pointer;

  color: #1c242f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}
.mypage-chipList .isActive {
  color: #fff;
  border: 1px solid #293341;
  background: #293341;
}

/* 페이지 제목 */
.mypage-title {
  color: #303441;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

/* 섹션 제목 */
.mypage-sectionTitle {
  color: #303441;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border-bottom: 2px solid #6d758f;
  padding-bottom: 20px;
}

/* 상태 컴포넌트 */
.mypage-statusCard {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fafafa;
  color: #303441;
}
.mypage-statusCard p {
  font-size: 14px;
  font-weight: 500;
}
.mypage-statusCard span {
  font-size: 16px;
  font-weight: 700;
}

/* 라벨 + 인풋 셋 */
.labelInput-wrapper {
  display: flex;
  padding: 16px 0;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.labelInput-wrapper label {
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.labelInput-wrapper select {
  height: 37px;
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.labelInput-wrapper input {
  width: 424px !important;
  height: 37px;
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.labelInput-wrapper input::placeholder {
  color: rgba(205, 205, 205, 1) !important;
}
.labelInput-wrapper textarea {
  width: 424px;
  height: 160px;
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.labelInput-wrapper textarea::placeholder {
  color: rgba(205, 205, 205, 1);
}
.labelInput-wrapper select {
  width: 424px;
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.form-select:invalid {
  color: #6a7685;
}
.labelInput-wrapper p {
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-left: 12px;
}

/* 라디오 버튼 */
.mypage-radio {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mypage-radio input {
  width: 16px !important;
  height: 16px;
  margin: 0;
}
.mypage-radio .form-check-input:checked {
  background-color: rgba(255, 87, 51, 1);
  border-color: rgba(255, 87, 51, 1);
}
.mypage-radio .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.25);
}

.mypage-radio laebl {
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 테이블 */
.mypage-table {
  width: 100%;
}
.mypage-table thead {
  border-top: 2px solid #6d758f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.mypage-table thead tr td {
  padding: 12px 10px;
  text-align: center;
}
.mypage-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.mypage-table tbody tr td {
  padding: 16px 0;
  text-align: center;
}

/* 페이지네이션 */
.my-pagination ul {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.my-pagination .page-link {
  border-radius: 8px !important;
  background: transparent;
  border: none;
  color: #a4aec1;
  font-size: 16px;
  font-weight: 500;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  outline: none !important;
  box-shadow: none !important;
}
.my-pagination .page-item.active .page-link {
  background: #303441;
  color: #ffffff;
  border: none;
  font-weight: 600;
}
.my-pagination .page-link:hover {
  color: #ffffff;
  background: rgba(48, 52, 65, 0.3);
}
.my-pagination .page-link:focus,
.my-pagination .page-item.active .page-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* 모달 */
.mypage-modal .modal-header {
  color: #303441;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.mypage-modal .modal-body {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.mypage-modal .label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mypage-modal label {
  color: #303441;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.mypage-modal input {
  width: 100%;
  height: 37px;
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.mypage-modal textarea {
  width: 100%;
  height: 160px;
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.mypage-modal textarea::placeholder {
  color: rgba(205, 205, 205, 1);
}
.review-star i {
  color: rgba(247, 196, 68, 1);
}
