.Product-card {
    width: 265px;
    height: 450px;
    text-decoration-line: none;
    color: unset; /* 부모 색상을 강제로 초기화 */
}

.product-image {
    position: relative; /* 하트 위치를 부모 기준으로 잡기 위해 */
    width: 265px;
    height: 300px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-icon {
    position: absolute; /* 절대 위치 */
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff5833;
    cursor: pointer;
    border: none;
}

.product-info {
    width: 265px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.store-name {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}

.product-name {
    font-size: 14px;
    font-weight: 400;
}
.sale {
    font-size: 16px;
    color: #ff5833;
    margin-right: 8px;
    font-weight: 600;
}

.sale-price {
    font-size: 20px;
    font-weight: 600;
}

.star-icon {
    margin-right: 5px;
    color: #f7c444;
}

.review-count {
    font-size: 14px;
    font-weight: 400;
}
