.signUp-box {
    width: 1200px;
    padding: 0 16px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 120px;
    height: 40px;
    background-color: #ff5833;
}

.signUser,
.login,
.SignExpert {
    width: 350px;
    gap: 10px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signStore1,
.signStore2 {
    width: 1200px;
    padding: 0 16px;
    gap: 10px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signStoreHeader {
    width: 100%;
    padding: 0 16px ;
    display: flex;
    align-items: flex-start;
}

.s_headerItem {
    gap: 8px;
    font-family: "Pretendard Variable Semibold";
    font-size: 17px;
    display: flex;
    align-items: center;
}

.signStorebody {
    width: 750px;
    margin: 50px 0;
}

.s_bodybox {
    width: 740px;
    height: 140px;
    padding: 20px 25px;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sns_login {
    width:100%;
}

.tabs {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 2px solid #dee2e6;
    margin: 30px 0;
}

.tab_nav {
    padding: 14px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #667085;
    cursor: pointer;
}

.tab_nav.active,
.tab_nav:active,
.tab_nav:hover {
    padding: 14px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #303441;
    border-bottom: 2px solid #303441;
    cursor: pointer;
}

.input_form
 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tab1,
.tab2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input_parts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input_label {
    font-family: "Pretendard Variable Medium";
    font-size: 14px;
    font-weight: 500;
}

.input_detail {
    font-size: 13px;
    color: #667085;
}

.input_detail2 {
    color: #667085;
    font-family: "Pretendard Variable Semibold";
}

.form-control,
.form-select {
    font-size: 14px;
    height: 45px;
}

.title {
    font-family: "Pretendard Variable Semibold";
    width: 100%;
    font-size: 19px;
    
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
   
}

.title2 {
    font-family: "Pretendard Variable Semibold";
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}

.sns_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sns_title {
    color: #667085;
}

.sns_icons {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.input_post {
    display: flex;
    align-items: center;
    height: 45px;
    gap: 12px;
}
.search_post{
    width: 76px;
    height: 100%;
}

.check_All {
    font-size: 15px !important;
}

.condition_box,
.experts_category {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 18px 12px;
}

.ecategory_part {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accordion-button {
    font-size: 14px !important;
}

.line {
    width: 100%;
    height: 0;
    border: 1px solid #dee2e6;
    margin: 10px 0;
}
.line1 {
    width: 100%;
    height: 0;
    border: 1px solid #dee2e6;
    margin: 30px 0;
}

.login_options{
    display: flex;
    justify-content: flex-end;
}

.mainButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.signStroeMainBottom {
    width: 100%;
}

.loginFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.s_bigInfo {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.completeStore3 {
    align-items: center;
    justify-content: center;
}

.s_form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    margin: 30px;
}

.signStoreForm {
    width: 1200px;
    padding: 3px 16px 13px 16px;
    display: flex;
    border-bottom: 1px solid #dee2e6;
}

.s_title {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard Variable Semibold";
}

.s_formCol {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.s_formColt {
     width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.s_formtitle {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.s_tr {
    display: flex;
    align-items: center;
    height: 45px;
}

.s_formRow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.s_input {
    width: 300px;
}

.sl_input {
    width: 400px;
}

.s_check {
    margin-right: 20px;
}

textarea.form-control {
    min-height: 120px;
}

.s_formTable {
    width: 100%;
    display: flex;
    justify-content: center;
}

.s_table {
    padding: 10px;
}

.s_infoTable {
    border: 1px solid #dee2e6;
}

.s_tableb {
    width: 300px;
    height: 42px;
  border: 1px solid #dee2e6;
  padding: 10px;
}

.s_checkbody {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.s_post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.necc {
    margin-left: 5px;
    color: #ff5833;
    font-size: 16px;
}

.necct {
    color: #ff5833;
}

.phone-auth {
    gap: 10px;
}

.condition-label {
    font-size: 14px;
    font-weight: 400;
}

.condition-check {
    display: flex;
    align-items: center;
    gap: 10px;
}

.long-button {
    width: 100%;
}

.necc_stroe {
    margin-top: 10px;
}

.expca {
    gap: 8px;
}

.code-box {
    width: 50% !important;
}

.loginStep {
    margin-top: 10px;
}

.storebottom {
    width: 340px;
}

.phoneauthInput {
    width: 400px;
}

.sll_input {
    width: 800px;
}

.categoryCheck-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.centerbutton {
    justify-content: center;
    align-items: center;
}

.underLogo {
    align-items: center;
    margin: 10px 0 40px 0;
    font-size: 15px;
    font-weight: 500;
}

.signUpselectService {
    width: 200px;
}

.headerTitle {
    font-size: 16px;
    font-weight: 500;
}
